.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime strong {
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  color: var(--gray-400);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  line-height: 0;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.likeButton {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;
  border-radius: 4px;
}

.likeButton:hover {
  color: var(--purple-300);
}

.likeButton svg {
  margin-right: 0.5rem;
}

.likeButton span::before {
  content: '\2022';
  padding: 0 0.25rem;
}
